<meta name="uiVersion" content="1.0.0" />
<meta charset="UTF-8"/>
<html lang="en">
<meta name="viewport" content = "width=device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
<meta name="apple-mobile-web-app-title" content="{{title}}" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="theme-color" content="#000">
<meta property="og:title" content="{{title}}" />
<meta property="og:image" content="https://{{server}}/images/preview.jpg" />
<meta property="og:url" content="https://{{server}}" />
<meta property="og:type" content="website" >
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="fr_FR" />
<meta property="og:locale:alternate" content="es_ES" />
<meta property="og:locale:alternate" content="es_MX" />
<meta property="og:site_name" content="{{title}}" />
<meta property="og:description" content="{{description}}" />
<meta property="fb:app_id" content="{{fbAppId}}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="description" content="{{largeDescription}}" />
<link rel="stylesheet" href="./index.css">
<link rel="apple-touch-startup-image" href="/images/startup-iphone.png" />
<link rel="apple-touch-startup-image" href="/images/ipad-landscape-startup.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
<link rel="apple-touch-startup-image" href="/images/ipad-portrait-startup.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />

<link rel="apple-touch-icon" sizes="512x512" href="/images/apple-touch-icon.png " />
<title>{{title}}</title>
